body {
    font-family: Helvetica, Arial, Sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
 }

#container {
  width: 100%;
  height: 100%;
}

.right-panel {
  width: 40%;
  -webkit-perspective: 120;
  display: inline-block;
    -webkit-perspective-origin: 50%, 50%;

  /*-webkit-perspective-origin-x: 25%;*/
  /*border: 5px solid red;*/
   
}

.left-panel {
  width: 40%;
  display: inline-block;
    -webkit-perspective-origin: 50%, 50%;

  /*display: inline-block;*/
  -webkit-perspective: 120;
}

.bottom-panel {
  width: 100%;
  display: inline-block;
    -webkit-perspective-origin: 50%, 50%;

  /*display: inline-block;*/
  -webkit-perspective: 120;
}


.top-panel {
  width: 100%;
  display: inline-block;
  -webkit-perspective-origin: 50%, 50%;
  /*display: inline-block;*/
  -webkit-perspective: 120 ;
}