<!DOCTYPE html>
<html>
<head>
		<title>Twit3d</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
	<div id="container">
		
		<h1>Twit3d</h1>
		<div class="top-panel">
			<img class='top-image' src="images/twitter.png" style='max-width: 100%' data-pic='main-image'>
		</div>
		<div class="left-panel">
			<img class="left-image" src="images/twitter.png" style='max-width: 100%' data-pic='main-image'>
		</div>
		<div class="right-panel">
			<img class='right-image' src="images/twitter.png" style='max-width: 100%' data-pic='main-image'>
		</div>
		<div class="bottom-panel">
			<img class='bottom-image' src="images/twitter.png" style='max-width: 100%' data-pic='main-image'>
		</div>

	</div>
	<script src='/jquery-2.0.3.js'></script>	
	<!-- // <script src='lib/filename.js'></script> -->
	<script>
		// window.addEventListener('load', funtion(){
		// 	var image = document.getElementById('front-image');
		// 	image.addEventListener('mousemove', )
		// })

		$("#container").mousemove(function(event){
			var xCoord = event.pageX;
			var yCoord = event.pageY;


			var rot = ((xCoord / ($(this).outerWidth())) * 180) /2;
			// rot = Math.round(rot);
			var rot2 = ((yCoord / ($(this).outerHeight())) * 180) /1.8;
			rot2 = Math.round(rot2);


			// console.log(xCoord);
			// console.log(yCoord);
			console.log(rot2);

			
			$(this).find('.left-image').css('-webkit-transform', 'rotateY(' +  Math.round(rot) + 'deg)');
			$(this).find('.right-image').css('-webkit-transform', 'rotateY(-' +  Math.round(rot) + 'deg)');
			$(this).find('.bottom-image').css('-webkit-transform', 'rotateX(' +  Math.round(rot) + 'deg)');
			$(this).find('.top-image').css('-webkit-transform', 'rotateX(-' +   Math.round(rot2) + 'deg)');
			// math.min(min:max)takes smallest
	});
	</script>
</body>
</html>