<!DOCTYPE html>
<html>
<head>
		<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
	<h1>Title</h1>
	<div class="example">
		<img src="images/example.png" data='example'>
	</div>
	<script src='http://code.jquery.com/jquery-2.0.3.js'></script>	
	<script src='lib/filename.js'></script>
	<script>
		JS here
	</script>
</body>
</html>