<!DOCTYPE html>
<html>
<head>
		<title>Twit3d</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
	<div id="container">
		
		<h1>Twit3d</h1>
		<div class="front-image">
			<img src="images/twitter.png" data-pic='main-image'>
		</div>

	</div>
	<script src='/jquery-2.0.3.js'></script>	
	<!-- // <script src='lib/filename.js'></script> -->
	<script>
		// window.addEventListener('load', funtion(){
		// 	var image = document.getElementById('front-image');
		// 	image.addEventListener('mousemove', )
		// })

		$("#container").mousemove(function(event){
			var xCoord = event.pageX;
			var yCoord = event.pageY;

			var rot = ((xCoord / ($(this).outerWidth())) * 360) / 2;
			rot = Math.round(rot);

			console.log(xCoord);
			// console.log(yCoord);
			console.log(rot);

			
			$(this).find('img').css('-webkit-transform', 'rotateY(' + Math.min(90, Math.round(rot)) + 'deg)');
			
	});
	</script>
</body>
</html>